#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define P1 1
#define VSC 2
#define KICAD 3
#define CAD 4
#define P2 5
#define WIKI 6
#define KP 7
#define SYM 8
#define FN 9
#define MOD 10

/ {
    macros {
        macro_parens: macro_parens {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp SPACE &kp LPAR &kp RPAR &kp LEFT>;
        };
        macro_brackets: macro_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp SPACE &kp LBKT &kp RBKT &kp LEFT>;
        };
        macro_braces: macro_braces {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp SPACE &kp LBRC &kp RBRC &kp LEFT>;
        };
    };

    behaviors {
      #include "version.dtsi"
      #include "macros.dtsi"

      ht_parens: ht_parens {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <1>;
          flavor = "tap-preferred";
          tapping-term-ms = <200>;
          bindings = <&macro_parens>, <&kp>;
      };
      ht_brackets: ht_brackets {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <1>;
          flavor = "tap-preferred";
          tapping-term-ms = <200>;
          bindings = <&macro_brackets>, <&kp>;
      };
      ht_braces: ht_braces {
          compatible = "zmk,behavior-hold-tap";
          #binding-cells = <1>;
          flavor = "tap-preferred";
          tapping-term-ms = <200>;
          bindings = <&macro_braces>, <&kp>;
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Base";
      bindings = <
        &kp GRAVE &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &tog KP                                                       &mo MOD    &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp EQUAL &kp Q     &kp W    &kp E    &kp R      &kp T  &kp TAB                                                       &kp INSERT &kp Y  &kp U  &kp I     &kp O    &kp P    &kp BSLH
        &kp TAB   &kp A     &kp S    &kp D    &kp F  &lt SYM G  &kp LGUI        &kp LSHFT    &kp LCTRL  &kp RCTRL &kp RSHFT   &kp RGUI   &lt SYM H &kp J  &kp K     &kp L    &kp SEMI &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                               &kp LALT  &kp RALT                        &kp N  &kp M  &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
        &mo FN    &kp HOME  &kp CAPS &kp LEFT &kp RIGHT                &kp DELETE  &kp ENTER &kp ESC    &kp ESC   &kp SPACE  &kp BSPC         &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo FN
      >;
    };

    Placeholder1 {
      display-name = "P1";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    VisualStudioCode {
      display-name = "VSCode";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    KiCAD {
      display-name = "KiCAD9";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    FreeCAD {
      display-name = "FreeCAD";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    Placeholder2 {
      display-name = "P2";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    Wiki {
      display-name = "Wiki";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                          &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans &trans &trans &trans       &trans &trans &trans &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans &trans                      &trans &trans                     &trans &trans &trans &trans &trans &trans
        &trans &trans &trans &trans &trans        &trans &trans &trans       &trans &trans &trans        &trans &trans &trans &trans &trans
      >;
    };

    keypad {
      display-name = "Kp";
      bindings = <
        &kp GRAVE &kp N1    &kp N2   &kp N3   &kp N4     &kp N5 &trans                                                           &trans &kp N6 &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &kp MINUS
        &trans    &kp Q     &kp W    &kp E    &kp R      &kp T  &none                                                            &none &kp Y  &kp KP_N7  &kp KP_N8    &kp KP_N9     &kp KP_MINUS    &kp BSLH
        &kp TAB   &kp A     &kp S    &kp D    &kp F      &lt SYM G  &trans        &trans  &kp LALT     &kp LGUI  &kp RCTRL           &trans &lt SYM H  &kp KP_N4  &kp KP_N5    &kp KP_N6     &kp KP_PLUS     &kp SQT
        &kp LSHFT &kp Z     &kp X    &kp C    &kp V      &kp B                       &trans        &trans                               &kp N  &kp KP_N1  &kp KP_N2    &kp KP_N3     &kp KP_ENTER    &kp RSHFT
        &mo FN    &trans    &kp CAPS &kp LEFT &kp RIGHT                &trans &trans &trans &trans &kp KP_N0 &trans                            &kp UP     &kp DOWN     &kp KP_DOT    &kp RBKT        &tog SYM
      >;
    };

    symbols {
      display-name = "SYM";
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans &trans
        &trans &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &trans                                  &trans &kp AMPS &kp RPAR &kp RBRC &kp RBKT &kp GRAVE &trans
        &trans &kp TILDE &kp MINUS &kp PLUS &kp EQUAL &kp UNDER &trans &trans &trans  &trans &trans &trans &kp STAR &ht_parens LPAR &ht_braces LBRC &ht_brackets LBKT &kp COLON &trans
        &trans &kp CARET &kp FSLH &kp SQT &kp DQT &trans                 &trans &trans                    &kp BSLH &kp PIPE &kp LT &kp GT &kp QMARK &trans
        &trans &trans &trans &trans &trans             &trans &trans &trans       &trans &trans &trans             &trans &trans &trans &trans &trans
      >;
    };

    Function {
      display-name = "Fn";
       bindings = <
        &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6  &none                                                                         &none &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &tog WIKI &trans &trans &trans  &none                                                                         &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &tog SYM &trans &trans &trans  &none                      &trans &trans         &trans &trans                &none &trans &trans &tog KICAD &trans  &trans  &trans
        &trans &trans &trans &tog CAD &tog VSC &trans                                    &trans         &trans                             &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans &trans &trans                             &trans &trans &to BASE  &to BASE &trans &trans                             &trans &trans &tog P1 &tog P2 &trans
      >;
    };

    mod {
      display-name = "Mod";
      bindings = <
        &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                     &trans                 &none        &none        &none        &none &none &none
        &none      &none        &none        &none        &none        &none        &bootloader                                                               &bootloader            &none        &none        &none        &none &none &none
        &none      &none        &none        &none        &none        &none        &none              &none &none      &none &bt BT_CLR &stp STP_BAT         &none                  &none        &none        &none        &none &none &none
        &none      &none        &none        &none        &macro_ver   &none                                 &none      &none                                                        &none        &none        &none        &none &none &none
        &none      &none        &none        &none        &none                                  &none &none &none      &none &bl BL_TOG &rgb_ug RGB_TOG                                          &bl BL_INC   &bl BL_DEC   &none &none &none
      >;
    };
  };
};