// ══════════════════════════════════════════════════════════════════════════════
// FREECAD MACROS & TAP-DANCES
// ══════════════════════════════════════════════════════════════════════════════

// --- MACROS: SKETCHER DOMAIN ---
line: line {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp L>;
};

polyline: polyline {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp M>;
};

rectangle: rectangle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp R>;
};

slot: slot {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp S>;
};

circle: circle {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp C>;
};

arc: arc {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp A>;
};

trim_edge: trim_edge {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp T>;
};

point: point {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp Y>;
};

ext_geo: ext_geo {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp X>;
};

construct: construct {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp N>;
};


// --- MACROS: PART DESIGN DOMAIN ---
pad: pad {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp P>, <&kp A>;
};

pocket: pocket {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp P>, <&kp O>;
};

revolve: revolve {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp R>, <&kp E>;
};

groove: groove {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp G>, <&kp R>;
};

fillet: fillet {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp F>, <&kp I>;
};

chamfer: chamfer {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp C>, <&kp H>;
};

lin_pattern: lin_pattern {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp L>, <&kp P>;
};

pol_pattern: pol_pattern {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp P>, <&kp P>;
};

mirror: mirror {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp M>, <&kp I>;
};

multi_trans: multi_trans {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp M>, <&kp T>;
};

new_sketch: new_sketch {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp C>, <&kp S>;
};

leave_sketch: leave_sketch {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp ESC>;
};

// --- MACROS: LAYER NAVIGATION ---
kp_numlock: kp_numlock {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&tog KP>, <&kp KP_NUM>;
};

skch_to_pdes: skch_to_pdes {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&tog SKCH>, <&tog PDES>;
};

pdes_to_skch: pdes_to_skch {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&tog PDES>, <&tog SKCH>;
};

// --- MACROS: CONSTRAINTS DOMAIN ---
coincident: coincident {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp C>;
};

pt_on_obj: pt_on_obj {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp O>;
};

horizontal: horizontal {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp H>;
};

vertical: vertical {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp V>;
};

distance: distance {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp K>, <&kp D>;
};

radius: radius {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp K>, <&kp R>;
};

equal_const: equal_const {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp E>;
};

symmetric: symmetric {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp S>;
};

parallel: parallel {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp P>;
};

perpendic: perpendic {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <30>;
    tap-ms = <30>;
    bindings = <&kp N>;
};


// ══════════════════════════════════════════════════════════════════════════════
// TAP-DANCE DEFINITIONS
// ══════════════════════════════════════════════════════════════════════════════

// --- TAP-DANCES: SKETCHER DOMAIN ---
line_polyline: line_polyline {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&line>, <&polyline>;
};

rectang_slot: rectang_slot {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&rectangle>, <&slot>;
};

circle_arc: circle_arc {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&circle>, <&arc>;
};

trim_point: trim_point {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&trim_edge>, <&point>;
};

prject_constr: prject_constr {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&ext_geo>, <&construct>;
};

// --- TAP-DANCES: PART DESIGN DOMAIN ---
pad_pocket: pad_pocket {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&pad>, <&pocket>;
};

revolve_groov: revolve_groov {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&revolve>, <&groove>;
};

fillet_chamfr: fillet_chamfr {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&fillet>, <&chamfer>;
};

linear_polar: linear_polar {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&lin_pattern>, <&pol_pattern>;
};

mirror_mtrans: mirror_mtrans {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&mirror>, <&multi_trans>;
};

sketch_in_out: sketch_in_out {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&new_sketch>, <&leave_sketch>;
};

// --- TAP-DANCES: CONSTRAINTS DOMAIN ---
coinc_pt_obj: coinc_pt_obj {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&coincident>, <&pt_on_obj>;
};

dist_radius: dist_radius {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&distance>, <&radius>;
};

horiz_vert: horiz_vert {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&horizontal>, <&vertical>;
};

equal_symm: equal_symm {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&equal_const>, <&symmetric>;
};

parallel_perp: parallel_perp {
    compatible = "zmk,behavior-tap-dance";
    #binding-cells = <0>;
    tapping-term-ms = <250>;
    bindings = <&parallel>, <&perpendic>;
};
